.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.coverage
dist/
build/
*.egg-info/

data/raw/**
!data/raw/deepglobe-road-extraction-dataset/metadata.csv
!data/raw/deepglobe-road-extraction-dataset/class_dict.csv
data/interim/
data/processed/
/models/
checkpoints/
logs/
results/

computer-vision-task.pdf
notebooks/*_executed.ipynb

.DS_Store
